body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.checkbox{
    width: 100px;
    height: 100px;
    background-color: #ffff;
    z-index: 1000000000;
    position: absolute;
    top: 100px;
}